@tailwind base;
@tailwind components;
@tailwind utilities;

#heading {
    background: url("../images/bg-hero-desktop.svg");
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    max-width: 100%;
    max-height: 100%
}

